<h1>Pocket Tutor</h1>

<p>Hi <%= @user.name %>,</p> 

<p>
Welcome to Pocket Tutor! Click on the link below to activate your account and start prepping:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, 
                                                    email: @user.email) %>